<%- include('includes/head.ejs') %>
    <form action="/add-book" method="POST">
        <input type="text" name="bookname">
        <button type="submit">Add book</button>
    </form>
<%- include('includes/end.ejs') %>